:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: hsl(204, 81%, 30%);
  text-decoration: inherit;
}
a:hover, .text-md.font-semibold.leading-6.text-gray-900:hover {
  color: #af0202;
  cursor: pointer;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  width: 150px;
  /* padding: 1.5em; */
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
#hero {
  background-image: url(/img/logo/logo.png);
  background-position: center 0;
  background-position-y: -400px;
  background-size: cover;
  width: 100%;
  height: 650px;
}
#hero-text {
  text-shadow: 1px 1px 15px rgba(0, 0, 0, 0.5);
}
img.h-full.w-full.object-cover.object-center.lg\:h-full.lg\:w-full {
  height: 200px;
}
main {
  padding-bottom: 100px;
}
.bg-stripes-pink {
  background-color: #f472b61a;
  background-image: linear-gradient(135deg,#ec489980 10%,transparent 0,transparent 50%,#ec489980 0,#ec489980 60%,transparent 0,transparent);
  background-size: 7.07px 7.07px;
}
footer {
  height: 100%;
}
.input-field {
  padding: 10px;
}
#add-property-form {
  text-align: end;
}
#close-login {
  float: right;
}

#logged-in-success, #logged-out-success, #logged-in-error {
  display: none;
}
#property-images, .image-upload {
  padding: 15px 0;
}